@charset "UTF-8";

header {
    height: 100px;
}

header h1 {
    font-size: 3em;
}

header > span#menumobile {
    display: block;
    position: absolute;
    bottom: 5px;
    font-size: 30px;
    cursor: pointer;
}

header > span#menumobile:hover {
    color: rgba(255, 255, 255, 0.829);
}

menu#opcoes {
    display: none;
    position: absolute;
    width: 200px;
    height: 220px;
    margin-top: 333px;

    font-variant: normal;
    font-size: 1.1em;
    font-family: 'navegar';
    text-align: center;
    z-index: 1;
    background-color: #0f0f0f;   
}

menu#opcoes ul {
    width: 200px;
    height: 180px;
    list-style-type: none;
}

menu#opcoes > ul > li:hover {
    background-color: #1f1f1f81;
}

menu#opcoes a {
    display: block;
    width: 200px;
    padding: 8px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.473);
    color: white;
}

nav {
    display: none;
}

h1.title {
    font-size: 1.8em;
    margin-left: 20px;
}

h1#suasnoticias {
    margin-left: 20px;
}

div#data {
    position: static;
    margin: 8px 0px 50px 22px;
    
}

main {
    width: 95vw;
    height: 1050px;
}

h1.smalltitle {
    font-size: 1.2em;
    padding: 35px;
}

hr {
    width: 79vw;
}

section.logo {
    height: 450px;
    width: 320px;
    margin: auto;
    margin-top: 20px;
}

section.logo > div.caixa {
    width: 320px;
}

div.caixa > a > p.descricao {
    font-size: 1.4em;  
}


section.logo > div.info {
    width: 340px;
    position: static;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
}

section.logo > div.info p {
    font-size: 1em;
}

section.outros {
    width: 90vw;
}

section.outros > a > p {
    font-size: 1em;
}

footer {
    height: 20vh;
}

footer > p#acorde {
    padding-top: 15px;
    font-size: 1.8em;
}

footer p {
    font-size: 1.3em;
}

footer > div#rodapé {
    font-size: 0.8em;
}