@charset "UTF-8";

header {
    height: 65px;
}

header h1 {
    font-size: 3em;
}

h1.title {
    margin: 20px 0px 40px 0px;
    margin-left: 0px;
    font-size: 1.8em;
}

h1#suasnoticias {
    margin: 35px 0px 0px 0px;
    margin-left: 0px;
}

div#data {
    position: static;
    margin: 0px 0px 50px 35px;
    
}

main {
    width: 90vw;
    height: 1050px;
}

hr {
    width: 79vw;
}

section.logo {
    height: 450px;
    margin: auto;
    margin-top: 20px;
     
}

section.logo > div.info {
    width: 340px;
    position: static;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
}

section.logo > div.info p {
    font-size: 1em;
}

section.outros {
    width: 90vw;
}

section.outros > a > p {
    font-size: 1em;
}

footer {
    height: 25vh;
}

footer > p#acorde {
    padding-top: 15px;
    font-size: 1.8em;
}

footer p {
    font-size: 1.3em;
}

footer > div#rodapé {
    font-size: 0.8em;
}