@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

/* font-family: 'Cormorant Garamond', serif; */

:root {
    --cor0: #9792E3;
    --cor1: #BACABF;
    --cor2: #28546C;
    --cor3: #032436;
    --cor4: #A01821;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #292A2D;
}

header {
    height: 150px;
    background-color: var(--cor2);
    font-family: 'Playfair Display', serif;
}

header h1 {
    text-align: center;
    font-size: 5em;
    font-variant: small-caps;
    color: white;
}

header p {
    font-size: 2.5em;
    text-align: center;
    color: var(--cor1);
}

nav {
    padding-top: 10px;
    height: 50px;
    text-align: center;
    background-color: var(--cor3);
}

nav > a{
    padding: 25px;
    font-size: 1.6em;
    text-decoration: none;
    color: white;
}

main {
    width: 75vw;
    height: 110vh;

    margin-top: 100px;
    margin-left: 372px;

    border-radius: 25px;

    font-size: 1.3em;

    background-color: #1F1F1F;
}

.title {
    color: #76ACF8;
    font-size: 1.5em;
    padding: 25px;
}

section.info {
    width: 80vw;
    padding: 20px;
    margin-left: auto;
    text-align: justify;
}

#urgente {
    width: 900px;

    font-size: 3em;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    letter-spacing: 5px;
    font-variant: small-caps;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    background-color: #0f0f0f;
    color: white;
   
}

div.logo {
    height: 300px;
    width: 900px;
   
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3)); 
    color: white;
}

div.logo > h1 {
    padding: 45px;
    font-size: 2.8em;
}

div.logo > h1:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

section#ad {
    position: absolute;
    top: 210px;
    width: 16.5vw;
    height: 124.9vh;
    background-color: black;
    color: white;
}

article a {
    text-decoration: none;
}

