@charset "UTF-8";

header h1 {
    font-size: 3em;
}



main {
    width: 700px;
    height: 800px;
}

hr {
    width: 655px;
}

section.logo {
    width: 320px;
    margin: 30px 0px 40px 20px;
}

section.logo > div.caixa {
    width: 320px;
    height: 200px;
}

section.logo > div.info {
    width: 320px;
    top: 60px;
    left: 320px;
    padding-top: 0px;
    font-size: .9em;
}

section.outros {
    width: 743px;
}




