@charset "UTF-8";

@font-face {
    font-family: 'piada';
    src: url('../fontes/fasterpiadas-Regular.ttf');
}


header h1 {
    margin-left: 20px;
    font-size: 3.5em;
    color: rgb(255, 255, 255);
}

header > h1 > span#piadas {
    font-family: 'piada';
    font-size: 1.1em;
    letter-spacing: 5px;
}

main {
    height: auto;    
    background-color: #1f1f1f;
}

main > section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

section {
    margin-bottom: 50px;
    margin-top: 50px;
}

section > iframe {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main p {
    padding: 5px;
    margin-left: 20px;
    text-align: justify;
}

section.vid {
    align-items: center;
}

section h1 {
   font-size: 2em;
}

section.conto {
    align-items: center;
}

section.conto p {
    width: 250px;
    background-color: rgba(0, 0, 0, 0.384);

}

section.conto h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color:  white
}

section.principal {
    align-items: center;
    font-size: 1.3em;
}

section.principal > div {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.473);
}

section.principal > iframe {
    display: none;
}







