@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'relogio';
    src: url('../fontes/alarmclock.ttf');
}

/* font-family: "Open Sans", sans-serif; */

body {
    background-color: black;
}

header {
    background-color: #1F1F1F;
    border-bottom: 4px solid white;
}

nav > span.menu {
    background: rgba(255, 255, 255, 0.349)
}

main {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    border-radius: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: orange;
}



main h1 {
    position: absolute;
    top: 250px;
    font-size: 3.5em;
    font-weight: lighter;
}

main > p {
    transform: translateY(50px);
    font-size: 3em;
    font-weight: lighter;
}

section#contagem {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 200px;

    border-radius: 30px;
    background-color: #1f1f1f56;
}

section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    text-align: center; 
}

#dias, #horas, #minutos, #segundos {
    border-right: 2px solid black;
    font-family: 'relogio';
    font-size: 4em;
}

#segundos {
    border: none;
}

#dias {
    font-family: 'relogio';
}


div > span {
    font-size: .5em;
    font-family: "Open Sans", sans-serif;
}

footer {
    background-color: #1F1F1F;
    border-top: 4px solid white;
}

