@charset "UTF-8";

@font-face {
    font-family: 'teste';
    src: url('fontes/Breakthecode-rXp8.ttf') format('TrueType');
}

:root {
--backColor: #01010D;
}

*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
}

header h1 {
    color: white;
    font-family: 'teste';
    text-transform: uppercase;
    font-size: 2em;
    
}

header a  {
    align-self: flex-end;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

div#fundo {
    position: absolute;
    background-image: url(imagens/code.gif);
    background-size: cover;
    width: 96vw;
    height: 110vh;
    opacity: 0.09;
    z-index: -1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 560px;
    margin: auto;
    margin-top: 60px;

}

div#phone {
    position: relative;
}

div#icones {
    position: absolute;
    display: grid;
}