@charset "UTF-8";

@font-face {
    font-family: 'teste';
    src: url('fontes/Breakthecode-rXp8.ttf') format('TrueType');
}

@font-face {
    font-family: 'cameras';
    src: url('fontes/RobotoMono.ttf') format('TrueType');
}

@keyframes flutuar {
    to {
        transform: translateY(5%);
    }
}

/* Configurações globais */

:root {
--transparent: rgba(255, 255, 255, 0.055);
--greyTransparent: rgba(0, 0, 0, 0.603);
--fontTransparent: rgba(255, 255, 255, 0.836);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

p {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.514);
}

/* Corpo da página e contéudo principal */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('midia/ceu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 270px;
    height: 560px;
}

/* Telefone */

div#phone {
    filter: brightness(110%);
    position: relative;
    display: flex;
    justify-content: center;
    width: 270px;
    height: 560px;
}


/* Topo do telefone */

div#topo {
    filter: sepia(100%);
    position: absolute;
    width: 242px;
    height: 105px;
    margin-top: 61px;
    font-family: system-ui;
}

div#topo > p#hora {
    font-size: 2.5em;
    margin-left: 5px;
    margin-top: 5px;
}

div#topo > p#data {
    font-size: 0.8em;
    margin-left: 10px;
}

 /* Configurações gerais dos icônes do telefone */

div#icones {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 10px 20px;
    width: 242px;
    height: 320px;
    margin-top: 165px;
}


div.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.icone p {
    font-size: 0.8em;
    text-align: center;
    margin: 5px;
}

div.imagemIcone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: auto;
    border-radius: 15px;
}

div.inativo {
    background-color: rgba(0, 0, 0, 0.466);
    
}

div.inativo img {
    opacity: 0.5;
}

div.ativo {
    animation: flutuar 1s ease-in-out infinite alternate;
    background-color: white;
}

div.ativo:hover {
    background-color: #03d3b7;
}

div.imagemIcone img {
    width: 36px;
    height: 36px;
}

/* Configurações pontuais dos icônes do telefone */

#cameras {
    grid-row: 4;
    grid-column: 1;
}

#delegacia {
    grid-row: 3;
    grid-column: 2;
}

#vulture {
    grid-row: 2;
    grid-column: 3;
}

#mapa {
    grid-row: 4;
    grid-column: 3;
}

#lista {
    grid-row: 2;
    grid-column: 1;
}

/* Senha para os arquivos */

section#campoSenha {
    display: none;
    align-items: center; 
    flex-direction: column;
    position: absolute;
    top: 400px;
    height: 200px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-color: var(--transparent);
}

section#campoSenha > p {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    outline: none;
    color: white;
    background-color: var(--greyTransparent);
    transition: 0.5s;
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox > input:valid ~ label, .inputBox > input:focus ~ label {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 8px 10px;
    letter-spacing: 2px;
}

.inputBox > input:valid, .inputBox > input:focus {
    border: 1px solid var(--transparent);
}

.button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: var(--greyTransparent);
}

.button:active {
    border: none;
    background-color: #00dfc4;
}

.button:hover {
    border: none;
}

/* Tela das câmeras */

section#telaCameras {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 370px;
    font-family: 'cameras';
    background-color: var(--transparent);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

section#telaCameras > div#telaCamerasTopo {
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 0;
    align-self: flex-start;
    width: 100%;
    background-color: var(--greyTransparent);
    border-radius: 10px 0px 0px 10px;
}

div#telaCamerasTopo > img {
    background-color: grey;
    width: 22px;
}

div#telaCamerasTopo > img:hover {
    background-color: black;
}

div#telaCamerasTopo > img:active {
    background-color: #00dfc4;
}

div#telaCamerasTopo > img#proximo {
    border-top-left-radius: 10px;
}

div#telaCamerasTopo > img#sair {
    margin-left: auto;
    border-top-right-radius: 10px;
}

section#telaCameras > #area-camera {
    margin-top: 10px;
}

section#telaCameras > #area-camera > video {
    width: 350px;
    border: 1px solid var(--greyTransparent);
}
 
/* Rodapé */

footer {
    width: 100%;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    color: var(--fontTransparent);
    background-color: var(--transparent);
}